.bigCardOuter{
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0 ;


}

.bigCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}

.bigCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.bigCardLink {
    text-decoration: none;
    color: rgb(3, 140, 140);
    cursor: pointer;
}

.bigCardLink:hover {
    text-decoration: underline;
    color: rgb(255, 181, 45);
}
.bigCardContainer img{
    width: 320px;
    height: 300px;
}

@media (min-width: 320px) and (max-width: 460px) {
    .bigCardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
        justify-items: center; 
        align-items: flex-start; 
        background-color: white;
      }
      .bigCard{
        justify-content: center;
        align-items: center;
        padding: 9px;
      }

      .bigCard h2{
        font-size: 13px;
      }

      .bigCard img{
        object-fit: contain;
        width: 150px;
        height: 150px;
      }
    
  }
/* @media (max-width : 768px) {

    .bigCardContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    
    }
    
} */