.login{
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginCard{
    margin: 80px 0 ;
    padding: 20px 40px;
    background-color: white;
    outline: 1px solid rgb(198, 198, 198);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loginButton{
 
    font-size: 15px;
    width: 100%;
    background-color: #f7ca00;
    margin-top: 10px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    font-weight: 900;

}