.searchField{
    position: relative;
    padding: 0 8px 0 0 ;
    width: 250px;
}
.searchField input{
    font-size: 14px;

}

.searchResultContainer{
    position: absolute;
    padding: 0 8px 0 0 ;

    display: flex;
    flex-direction: column;
   outline: none;
   border: none;
    top: 100%;
    left: 0;
    background-color: white;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
    
}
.searchResult{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 5px;

}

@media (max-width: 768px) {
    .searchField{
        display: none;
    }



}
