
.outerCategoryContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}
.categoryContainer{
    display: flex;
    justify-content: center;
    gap: 90px;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category img{
    object-fit: contain;
    mix-blend-mode:multiply;
    width: 160px;
    height: 150px;
}

@media (min-width: 320px) and (max-width: 460px) {
    .categoryContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

