.soloProduct{
    display: flex;
    flex-direction: column;
    padding: 50px;


}

.soloProduct1{
    display: flex;
}
.soloImage{
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soloImage img{
    object-fit:contain;
    /* max-width: 220.416px; */
    width: 400px;
    max-height: 464.286px;
    mix-blend-mode: multiply;
}

.soloDescription button{
    font-size: 15px;
    width: 100%;
    background-color: #f7ca00;
    margin-top: 10px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    font-weight: 900;
}

@media (min-width: 320px) and (max-width: 460px) {

    .soloImage{
        padding: 0;
    }

    .soloImage img{
        width: 150px;
    }

    .soloTitle h1{
        font-size: 14px;
    }

    .soloDescription h2{
        font-size: 15px;
    }
}